body{
  margin: 0;
  padding: 0;
  max-height:100%;
  overflow: hidden;
  transition:ease-in-out all 1s;
}
.sidebar-icon-container {
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
  transition: ease-in-out 0.1s;
  &:hover {
    .sidebar-text {
      visibility: visible;
    }
    .sidebar-icons {
      background-color: #44546c;
    }
  }
  &:active .sidebar-icons {
    background-color: #6984ac;
  }
  .sidebar-text {
    visibility: hidden;
    color: white;
    transition: ease-in-out 0.1s;
    font-weight: 700;
    user-select: none;
    margin-top: -5px;
  }
  .sidebar-icons {
    object-fit: cover;
    width: 60px;
    padding: 7px;
    transition: ease-in-out 0.1s;
    border-radius: 12px;
  }
}

.leaflet-top.leaflet-left{
  visibility: hidden;
}

.leaflet-control-attribution.leaflet-control{
  visibility: hidden;
}
.sidebar-icon-container-light {
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
  transition: ease-in-out 0.1s;
  &:hover {
    .sidebar-text-light {
      visibility: visible;
    }
    .sidebar-icons-light {
      background-color: #a2c7ff7e;
    }
  }
  &:active .sidebar-icons-light {
    background-color: #6984ac;
  }
  .sidebar-text-light {
    visibility: hidden;
    color: black;
    transition: ease-in-out 0.1s;
    font-weight: 700;
    user-select: none;
    margin-top: -5px;

  }
  .sidebar-icons-light {
    object-fit: cover;
    color: black;
    width: 60px;
    padding: 7px;
    transition: ease-in-out 0.1s;
    border-radius: 12px;
  }
}
